.userReviews{
    margin: auto;
    width: 50%;
}
.no_reviews{
    position: absolute;
    right: 45%;
}
h3 a{
    text-decoration: none;
}
.userReviews button{
    display: inline;
}
@media only screen and (max-width: 768px) {
    .userReviews {
        margin: auto;
        width: 100%;
    }
}