.editAccount {
        position: absolute;
        right: 34%;
        width: 30%;
    }
#nameField{
    margin-top: 2% !important;
}
@media only screen and (max-width: 768px) {
.editAccount {
        position: relative;
        right: 0%;
        width: 100%;
    }
}