.searchMain{
    width: 40%;
    margin: auto;
    margin-top: 4%;
}
.searchYear {
    margin-left: 2%;
    width: 49%;
    position: absolute;
    top: 0;
    right: 0;
}
.searchGenres{
    width: 49%;
    display: inline-block;
}
.searchBtn{
    margin: 2% 0px;
}
.secondOpt{position: relative;}

.searchMain a{
    color: #3f51b5;
    text-decoration: none;
}
.clearBtn{
    color: #3f51b5;
    position: absolute;
}
.clearBtn:hover {
    cursor: pointer;
}
@media only screen and (max-width: 768px) {

    /* For mobile phones: */
    .searchMain {
        width: 90%;
    }
}