.form-control{
    align-items: center;
    position: relative;
}
.form{
    width: 500px;
    margin: 0 auto;
    padding: 1rem 2rem;
}
.Textarea{
    padding: 30px;
}
.addField{
    position: relative;
}
.add-btn{
    font-size: 18px;
    margin-bottom: 5px;
    position: absolute;
    bottom: 0;
    right: 0;
}
#addTextInput{
    max-width: 85%;
}
.spanList:hover{
    color: blue;
   font-weight: bold;
}