
.custom-shape-divider-top-1649083949 {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1649083949 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 207px;
}

.custom-shape-divider-top-1649083949 .shape-fill {
  fill: #2D92E0;
}
